<div id="container-experience">
  <div class="{{reservation.reservation_cuisine}}">
    <div class="sub-{{reservation.reservation_cuisine}}">
      <h1>{{reservation.reservation_cuisine}} experience</h1>
      <form action="/experience/{{reservation._id}}" method="POST">

        {{#each meals}}
        <div class="experience-container-input {{this.cuisine_type}}">
          <label for="plato1">{{this.name}}</label>
          <div class="price-centrado">{{this.price}}$</div>
          <div class="resta">-</div>
          <div class="semi-input">0</div>
          <input value="0" type="number" name="meals">
          <div class="suma">+</div>
        </div>
        {{/each}}

        <input type="hidden" name="drinks" value="">
        <input class="input" type="submit" value="Submit Reservation">
      </form>
    </div>
  </div>

  <div class="cocktails">
    <h2>Choose Cocktails</h2>
    {{#each drinks}}
    <div class="experience-container-cocktail">
      <div class="cocktail-name">{{this.strDrink}}</div>
      <div class="price">30$</div>
      <div class="resta">-</div>
      <div>0</div>
      <div class="suma">+</div>
    </div>
    {{/each}}
  </div>

</div>

<script src="/javascripts/reserva.carta.js"></script>